<%= form_with(model: autoexpense, local: true) do |form| %>
  <% if autoexpense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(autoexpense.errors.count, "error") %> prohibited this autoexpense from being saved:</h2>

      <ul>
      <% autoexpense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <div class="form-group col-6">
    <%= form.label :price %>
    <%= form.number_field :price, class:"form-control", required: :true %>
  </div>

  <div class="form-group col-6">
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control", required: :true %>
  </div>

  <div class="form-group col-6">
    <%= form.label :travaux %>
    <%= form.text_field :travaux, class:"form-control", required: :true %>
  </div>

  <div class="form-group col-6">
    <%= form.label :designation %>
    <%= form.text_field :designation, class:"form-control", required: :true %>
  </div>
    <div class="form-group col-6">
    <%= form.label :automobile %>
    <%= form.collection_select :automobile_id, Automobile.all, :id, :marque, {prompt:"Sélectionner l'automobile"} , class:"form-control", required: :true %>
  </div>
  <div class="form-group col-6">
    <%= form.label :dépénsé_le %>
    <%= form.datetime_select :billed_at, class:"form-control", required: :true %>
  </div>

  <div class="form-group col-6">
    <%= form.submit "Ajouter la dépense", class:"btn btn-success" %>
  </div>
<% end %>
</div>