<p id="notice"><%= notice %></p>

<h1>Incategories</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incategories.each do |incategory| %>
      <tr>
        <td><%= incategory.titre %></td>
        <td><%= incategory.description %></td>
        <td><%= link_to 'Show', incategory %></td>
        <td><%= link_to 'Edit', edit_incategory_path(incategory) %></td>
        <td><%= link_to 'Destroy', incategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incategory', new_incategory_path %>
