 <%=render 'menus/top'%>
        <div id="layoutSidenav">
            <%=render 'menus/side'%>
                         <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
<h1>Modifier l'entrée</h1>

<%= render 'form', income: @income %>

<%= link_to 'Afficher', @income %> |
<%= link_to 'Modifier', incomes_path %>
</div>
</main>
</div>
</div>
