<%= form_with(model: etat, local: true) do |form| %>
  <% if etat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(etat.errors.count, "error") %> prohibited this etat from being saved:</h2>

      <ul>
      <% etat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :titre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
