<p id="notice"><%= notice %></p>

<h1>Etats</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etats.each do |etat| %>
      <tr>
        <td><%= etat.titre %></td>
        <td><%= link_to 'Show', etat %></td>
        <td><%= link_to 'Edit', edit_etat_path(etat) %></td>
        <td><%= link_to 'Destroy', etat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etat', new_etat_path %>
