<p id="notice"><%= notice %></p>

<h1>Fonds</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Montant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fonds.each do |fond| %>
      <tr>
        <td><%= fond.titre %></td>
        <td><%= fond.montant %></td>
        <td><%= link_to 'Show', fond %></td>
        <td><%= link_to 'Edit', edit_fond_path(fond) %></td>
        <td><%= link_to 'Destroy', fond, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fond', new_fond_path %>
